<ul>
    <li><a href="/">Home</a></li>
    <li><a href="./{{restaurant.id}}/edit">Edit</a></li>
    <li><a href="./{{restaurant.id}}/delete"><img src="https://www.pinclipart.com/picdir/big/334-3343695_minimalist-x-mark-clip-art-medium-size-yellow.png" style="width: 1.5%; heigth: 1.5%;" class="otherimg"></a></li>
</ul>

<div style="background-image: url({{restaurant.image}}); background-size: 100%;">
    <article class="title"><main>{{restaurant.name}} - Menus</main></article>
    <article class="middle">
        <br>
        {{#each restaurant.menus}}
            <main>{{this.title}}</main>
            <br>
            {{#each this.items}}
                <p> - {{this.name}} £{{this.price}}</p>
                <br>
            {{/each}}
            <br><br>
        {{/each}}
    </article>
</div>